---
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Descuento from "../components/Descuento.astro";
import Descripcion from "../components/Descripcion.astro";
import Productos from "../components/Productos.astro";
import ShopNow from "../components/Colecciones.astro";
import Header2 from "../components/Header.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="ContinousBrand marca moderna de ropa." />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      rel="stylesheet"
      href="/src/animacionLetras/cssPersonalizado/write.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>ContinuousBrand</title>
  </head>
  <style is:global>
    @font-face {
      font-family: "AlteHaasGroteskBold";
      src: url("/src/fonts/AlteHaasGrotesk.ttf");
    }
  </style>

  <body class="bg-black">
    <Hero />
    <Descuento />
    <Descripcion />
    <Productos />
    <ShopNow />
  </body>
</html>
