---
import Descuento from "./Descuento.astro";
---

<div class="h-screen w-screen flex flex-col bg-black">
  <div class="p-4">
    <img
      src="https://continuousbrand.com/wp-content/uploads/2023/07/Oferta-Julio-Continuous.jpg"
      alt=""
      class="border-2 border-white cursor-pointer"
    />
  </div>
  <div class="p-4">
    <img
      src="https://continuousbrand.com/wp-content/uploads/2023/06/Culture-Collection-Shop-now-1.jpg"
      alt=""
      class="border-2 border-white cursor-pointer"
    />
  </div>
</div>
