<section
  class="w-full h-full bg-white px-4 sm:px-10 md:px-20 py-10 sm:py-10 md:py-20"
>
  <div class="flex justify-center px-4 sm:px-8 lg:px-16 xl:px-32">
    <p
      class="text-center font-bold text-xl sm:text-2xl lg:text-4xl xl:text-6xl"
    >
      HELLO EVERYONE, WELCOME TO OUR STORE.<br />
      WE HAVE SELECTED THE BEST OF THE BEST.<br />
      CHOOSE AS YOU LIKE UNTIL YOU CAN SLEEP WELL BECAUSE YOU HAVE GOT THE THINGS
      YOU WANT.
    </p>
  </div>

  <div class="mt-10 sm:mt-20 md:mt-40 flex justify-center">
    <div class="flex flex-col items-center">
      <p
        class="text-2xl sm:text-3xl md:text-6xl font-bold font-sans text-center"
      >
        DISCOVER RECOMMENDATION
      </p>
      <div
        class="flex flex-col md:flex-row py-4 sm:py-6 md:py-10 space-y-2 md:space-y-0 sm:space-x-4 md:space-x-4 justify-center flex-wrap"
      >
        <button
          class="border-2 border-black px-4 sm:px-4 md:px-6 py-2 rounded-full text-lg sm:text-sm md:text-lg font-semibold font-sans transition-all duration-300 ease-in-out transform hover:scale-90 hover:bg-black hover:text-white my-1"
        >
          ALL
        </button>
        <button
          class="border-2 border-black px-4 sm:px-4 md:px-6 py-2 rounded-full text-lg sm:text-sm md:text-lg font-semibold font-sans transition-all duration-300 ease-in-out transform hover:scale-90 hover:bg-black hover:text-white my-1"
        >
          COLLABORATION
        </button>
        <button
          class="border-2 border-black px-4 sm:px-4 md:px-6 py-2 rounded-full text-lg sm:text-sm md:text-lg font-semibold font-sans transition-all duration-300 ease-in-out transform hover:scale-90 hover:bg-black hover:text-white my-1"
        >
          BEST SELLER
        </button>
        <button
          class="border-2 border-black px-4 sm:px-4 md:px-6 py-2 rounded-full text-lg sm:text-sm md:text-lg font-semibold font-sans transition-all duration-300 ease-in-out transform hover:scale-90 hover:bg-black hover:text-white my-1"
        >
          NEW RELEASE
        </button>
        <button
          class="border-2 border-black px-4 sm:px-4 md:px-6 py-2 rounded-full text-lg sm:text-sm md:text-lg font-semibold font-sans transition-all duration-300 ease-in-out transform hover:scale-90 hover:bg-black hover:text-white my-1"
        >
          PROMO
        </button>
      </div>
    </div>
  </div>
</section>
<script
  src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
  defer></script>
